{% extends "base.html" %}

{% block page_content %}
<div class="row h-100 justify-content-center align-items-center text-center">
    <div class="card border-secondary mb-3" style="width: 35rem;">

        <div class="card-body">
            <h3 class="card-title">Sign Up</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}

            <form method="POST" action="adduser">
                <div class="form-group form-check">
                    <div class="form-check-label">
                        <input class="form-control form-control-md" type="email" name="email" placeholder="Email"
                            autofocus="" required >
                    </div>
                </div>

                <div class="form-group form-check">
                    <div class="form-check-label">
                        <input class="form-control form-control-md" type="text" name="name" placeholder="Name"
                            autofocus="" required>
                    </div>
                </div>

                <div class="form-group form-check">
                    <div class="form-check-label">
                        <input class="form-control form-control-md" type="password" name="password"
                            placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group form-check">
                    <div class="form-check-label">
                        <select class="form-control form-control-md" name="role"
                            placeholder="Password" required>
                            {% for role in roles %}
                            <option value="{{role.id}}">{{role.rolename}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <button class="btn btn-success">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}