{% extends "base.html" %}

{% block page_content %}

<div class="row h-100 justify-content-center align-items-center text-center">
    <div class="card bg-transparent border-secondary mb-3" style="width: 24rem;">
        <div class="justify-content-center align-items-center text-center mt-4">
            <img src="{{ url_for('static',filename='user.png') }}" class="card-img-top " style="height: 56px; width: 56px;" alt="...">
        </div>
        
        <div class="card-body">
            <h3 class="card-title">Login</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input class="form-control form-control-lg" type="email" name="email" placeholder="Your Email"
                            autofocus="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input class="form-control form-control-lg" type="password" name="password"
                            placeholder="Your Password">
                    </div>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                    </label>
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}