{% extends "base.html" %}
{% block styles_yet %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

{% endblock %}
{% block page_content %}
<div class="container">
<div class="row text-center overflow-auto">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active text-white" aria-current="page">SensorTemp</li>
            </ol>
        </nav>
    </div>
   
        <div class="col-6 text-left">
            <p >{{ rows[0].date }}</p>
        </div>
        <div id="timeDown" class="col-6 text-right">
            
        </div>
   
    <div class="row w-100 justify-content-center gauge-container">
       
            {% for row in rows %}
            <div class="col-xl-4">
            <div class="gauge" id="{{row.SensorConfig.sensorid}}"></div>
            </div>
            {% endfor %}
        
    </div>
    <div class="container row text-left" >
        <div id="graphdiv" style="color: #fff;">
        </div>
    </div>
</div>
</div>

<svg width="0" height="0" version="1.1" class="gradient-mask" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <linearGradient id="gradientGauge">
          <stop class="color-blue" offset="0%"/>
          <stop class="color-lightblue" offset="10%"/>
          <stop class="color-green" offset="40%"/>
          <stop class="color-yellow" offset="70%"/>
          <stop class="color-red" offset="100%"/>
        </linearGradient>
    </defs>  
</svg>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/17.1.6/js/dx.all.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/dygraph-combined.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/dx.all.js') }}"></script>
    <script>
       $(function () {

            class GaugeChart {
                constructor(element, params) {
                    this._element = element;
                    this._initialValue = params.initialValue;
                    this._higherValue = params.higherValue;
                    this._title = params.title;
                    this._subtitle = params.subtitle;
                    this._customTicks = params.customTicks
                }

                _buildConfig() {
                    let element = this._element;

                    return {
                        value: this._initialValue,
                        valueIndicator: {
                            color: '#fff' 
                        },

                        geometry: {
                            startAngle: 200,
                            endAngle: -20 },

                            scale: {
                                startValue: 0,
                                endValue: this._higherValue,
                                customTicks: this._customTicks,
                                tick: {
                                length: 8},

                                label: {
                                    font: {
                                        color: '#87959f',
                                        size: 12,
                                        family: '"Open Sans", sans-serif' 
                                    } 
                                } 
                            },

                            title: {
                                verticalAlignment: 'bottom',
                                text: this._title,
                                font: {
                                    family: '"Open Sans", sans-serif',
                                    color: '#fff',
                                    size: 16 
                                },

                                subtitle: {
                                    text: this._subtitle,
                                    font: {
                                        family: '"Open Sans", sans-serif',
                                        color: '#fff',
                                        weight: 700,
                                        size: 24 
                                    } 
                                } 
                            },

                        onInitialized: function () {
                            let currentGauge = $(element);
                            let circle = currentGauge.find('.dxg-spindle-hole').clone();
                            let border = currentGauge.find('.dxg-spindle-border').clone();

                            currentGauge.find('.dxg-title text').first().attr('y', 48);
                            currentGauge.find('.dxg-title text').last().attr('y', 28);
                            currentGauge.find('.dxg-value-indicator').append(border, circle);
                        } 
                    };

                }

                init() {
                    $(this._element).dxCircularGauge(this._buildConfig());
                }
            }

            $(document).ready(function () {

                {% for row in rows %}
                {% set list =[] %}
                {% for i in range(0, row.SensorConfig.highervalue+row.SensorConfig.tick, row.SensorConfig.tick) %}
                {% set list = list.append(i) %}
                {% endfor %}

                $('#{{ row.SensorConfig.sensorid }}').each(function (index, item) {
                    let params = {
                    initialValue: '{{ row.temperature }}',
                    higherValue: '{{ row.SensorConfig.highervalue }}',
                    customTicks: {{list}},
                    title: "{{ row.SensorConfig.sensorname }} ",
                    subtitle: '{{ row.temperature }} ºC' 
                    };


                    let gauge = new GaugeChart(item, params);
                    gauge.init();
                });
                {% endfor%}
                
                $(".gauge").click(function(){
                    //alert(this.id);

                    $.post("sensortempdata",
                    {
                        sensorid: this.id
                    },
                    function(data, status){
                                                
                        g = new Dygraph(

                            // containing div
                            document.getElementById("graphdiv"),
                            data
                            // CSV or path to a CSV file.
                            // "Date,Temperature\n" +
                            // "2008-05-07,75\n" +
                            // "2008-05-08,70\n" +
                            // "2008-05-09,80\n"

                        );
                    });
                });

                var counter = 120; // page reload this seconds
                setInterval(
                    function () {
                        counter--;

                        $('#timeDown').html(counter);

                        if (counter === 0) {
                            location.reload();
                        }

                    },1000
                );
            });

        });
        
    </script>
{% endblock %}